# Задание 1
Скачайте с сайта https://grouplens.org/datasets/movielens/ датасет любого размера. 
Определите какому фильму было выставлено больше всего оценок 5.0.

In [1]:
import pandas as pd
import requests
import zipfile

def unzip_files(zip_path, save_path):
    with zipfile.ZipFile(zip_path) as zip_file:
        for names in zip_file.namelist():
            print(names)
            zip_file.extract(names,save_path)
            
url =  "http://files.grouplens.org/datasets/movielens/ml-latest-small.zip"
zipFile = requests.get(url)

with open("ml-latest-small.zip", "wb") as f:
    f.write(zipFile.content)
unzip_files("ml-latest-small.zip", "")

ratings = pd.read_csv("./ml-latest-small/ratings.csv")
movies =  pd.read_csv("./ml-latest-small/movies.csv")

max_rating = ratings[(ratings['rating'] == 5)]['movieId'].value_counts().idxmax()


five_star_movie = movies[(movies['movieId'] == max_rating)]
five_star_movie

ml-latest-small/
ml-latest-small/links.csv
ml-latest-small/tags.csv
ml-latest-small/ratings.csv
ml-latest-small/README.txt
ml-latest-small/movies.csv

     movieId                             title       genres
277      318  Shawshank Redemption, The (1994)  Crime|Drama

# Задание 2
По данным файла power.csv посчитайте суммарное потребление стран Прибалтики (Латвия, Литва и Эстония) категорий 4, 12 и 21 за период с 2005 по 2010 года. 
Не учитывайте в расчетах отрицательные значения quantity.

In [2]:
df = pd.read_csv("power.csv")
df.head()

   country  year  quantity  category
0  Austria  1996       5.0         1
1  Austria  1995      17.0         1
2  Belgium  2014       0.0         1
3  Belgium  2013       0.0         1
4  Belgium  2012      35.0         1

In [3]:
def check_for_baltic(country):
    baltic_country = ["Estonia","Latvia","Lithuania"]
    return country in baltic_country
print(check_for_baltic("Estonia"), check_for_baltic("Poland"))

df['baltic'] = df['country'].apply(check_for_baltic)

True False

In [6]:
df[ (df['baltic'] == True )
        & 
    (df['year'].isin( range(2005,2014,1) ) )
        &
    (df['category'].isin([4,12,21]))
        &
    (df['quantity'] >= 0)]['quantity'].sum()

365275.0

# Задание 3
Выберите страницу любого сайта с табличными данными. Импортируйте таблицы в pandas dataframe.

In [18]:
url = 'https://www.kp.ru/guide/internet-apteki-moskvy.html'
df = pd.read_html(url, encoding='utf-8', header=0, parse_dates=["Препарат"])
df

[             Препарат      Цена, рубли Цена, рубли.1 Цена, рубли.2  \
 0            Препарат  «Добрая аптека»    «е-Аптека»    «Еврофарм»
 1           «Арбидол»              149           167           153
 2             «Зодак»              148           139           151
 3             «Мезим»              190           185           198
 4           «Резалют»             1372          1348          1540
 5  «Солгар Спирулина»             1478             –          1390

   Цена, рубли.3 Цена, рубли.4 Цена, рубли.5 Цена, рубли.6
 0     «Неофарм»   «Apteka.RU»       «Форте»       «Ригла»
 1           135           146           152           147
 2           122           133           138           147
 3           192           178           178           192
 4          1257          1294          1390          1558
 5          1410          1190          1225          1313  ]